# STM32CubeIDE build folders
Debug/
Release/
build/
*.elf
*.bin
*.hex
*.o
*.d
*.map
*.lst
*.log

# IDE and workspace configs
.vscode/
.settings/
*.launch
*.project
*.cproject

# Cache or DB files
*.db
